[ClassicUI]
# Main Window Position X
MainWindowOffsetX=1259
# Main Window Position Y
MainWindowOffsetY=1004
# Font
Font=WenQuanYi Micro Hei
# Menu Font
MenuFont=WenQuanYi Micro Hei
# Font Locale to display
FontLocale=zh_CN.UTF-8
# Use System Tray Icon
# Available Value:
# True False
UseTray=True
# Main Window Hide Mode
# Available Value:
# Show Auto Hide
MainWindowHideMode=Hide
# Vertical Candidate Word List
# Available Value:
# True False
VerticalList=True
# Skin Name
SkinType=dark

