[Keyboard]
# Commit with extra space when choose candidate word
# Available Value:
# True False
CommitWithExtraSpace=False
# Toggle the word hint
HotkeyToggleWordHint=CTRL_ALT_H
# Enable word hint if available
# Available Value:
# True False
EnableWordHint=False
# Minimum Length to trigger word hint
MinimumHintLength=1
# Use enter to commit the existing string
# Available Value:
# True False
UseEnterToCommit=True
# Use presage to predict if possible.
# Available Value:
# True False
UsePresage=False
# Preferred Enchant Provider (Need Restart)
# Available Value:
# Default Aspell Myspell
PreferredEnchantProvider=Myspell
# Add current input buffer to user dictionary
HotkeyAddToUserDict=CTRL_ALT_N

