*~
*.bak
*swp
*.log
*.pyo
tags

# .mutt/bogofilter/wordlist.db
.mutt/getmail/log
.mutt/history_file
.mutt/cache
.mutt/getmail/oldmail-pop.gmail.com-995-numbchild@gmail.com

.vim/vim-addons/*
.vim/bundle/*
.vim/view/*
.vim/cache/*
.vim/viminfo
.vim/.netrwhist

.emacs.d/el-get/*

.weechat/logs/*
.weechat/ssl/stardiviner.cert
.weechat/ssl/stardiviner.key

.newsbeuter/queue
.newsbeuter/pb-lock.pid
.newsbeuter/history.*
.newsbeuter/error.log
.newsbeuter/cache.db*

.mpd/mpd.db
.mpd/mpd.pid
.mpd/sticker.sql
.mpd/state
.mpdcron/mpdcron.pid

# NOTE must use /* here.
.config/*
!.config/awesome/
!.config/fcitx/
!.config/feh/
!.config/ibus/
!.config/jumanji/
!.config/key-mon/
!.config/autokey/
!.config/luakit/
!.config/ranger/
!.config/zathura/
!.config/gtk-3.0
# --------------
.config/jumanji/sessions*
.config/jumanji/history
.config/jumanji/cookies
.config/ranger/history
.config/ranger/tagged
.config/ranger/bookmarks
.config/ibus/

.canto/feeds/
.canto/log
.canto/fetchlog

.vimperator/info/

.task/*.data

.bash/history

.elinks/cookies

.fonts/fonts.dir

# Temp files.
.gnupg/
.ssh/
.subversion/
Firefox\ Recovery\ Key.html
account.txt
linux_passwd.txt
sudo.pass
others/
push.sh
system.conf/ddclient.conf
