!
! __  __   _       __             _ _
! \ \/ /__| | ___ / _| __ _ _   _| | |_ ___
!  \  // _` |/ _ \ |_ / _` | | | | | __/ __|
!  /  \ (_| |  __/  _| (_| | |_| | | |_\__ \
! /_/\_\__,_|\___|_|  \__,_|\__,_|_|\__|___/
!

! F O N T S ==============================================================

Xft.autohint:   true
Xft.lcdfilter:  lcddefault
! hintfull, hintslight
Xft.hintstyle:  hintslight
Xft.hinting:    true
Xft.antialias:  true
Xft.dpi: 96
Xft.rgba: rgb

! X T E R M ==============================================================

! general settings
xterm*termName: xterm-256color
xterm*geometry: 80x24
xterm*saveLines: 1024
! allow windows resize (from vim help)
Xterm*allowWindowOps: true
xterm*loginshell: false
xterm*dynamicColors: true
xterm*toolBar: false
xterm*transparent: true
! xterm*shading: 20
!xterm*background: #F0F0F0
!xterm*foreground: #333333

! Cursor
xterm*cursorBlink: true
xterm*alwaysHighlight: true
xterm*cursorColor: #FF5787
xterm*cursorUnderLine: true

! selection
xterm*highlightSelection: false
xterm*highlightTextColor: #000000

! bar & border
xterm*scrollBar: false
xterm*borderColor: #161616
xterm*borderWidth: 0
xterm*borderless: true
xterm*internalBorder: 0
xterm*externalBorder: 0

! bell
xterm*bellIsUrgent: true
xterm*visualBell: false

! FIXME xterm*depth: 32

! encoding
! xterm*utf8: 2
xterm*utf8: true
xterm*locale: true
xterm*utf8Title: true

! fonts
xterm*allowBoldFonts: true
xterm*renderFont: true
xterm*scaleHeight: 1
xterm*preeditType: Root
xterm*xftAntialias: true
xterm*faceName: DejaVu Sans Mono:pixelsize=13.5
xterm*faceNameDoublesize: WenQuanYi Zen Hei Mono:pixelsize=13.5
xterm*italicULMode: false
! underline
xterm*colorULMode: true
xterm*colorUL: #31658C
xterm*underLine: true

! trim trailing spaces
xterm*trimSelection: true

! fix alt-key inputting
xterm*eightBitInput: false
xterm*metaSendsEscape: true

! copy and paste with clipboard
xterm*translations: #override \
	Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

! allow selecting email/url by double-click
xterm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

! tango color scheme
xterm*color0: #1e1e1e
xterm*color1: #cc0000
xterm*color2: #4e9a06
xterm*color3: #c4a000
xterm*color4: #3465a4
xterm*color5: #75507b
xterm*color6: #0b939b
xterm*color7: #d3d7cf
xterm*color8: #555753
xterm*color9: #ef2929
xterm*color10: #8ae234
xterm*color11: #fce94f
xterm*color12: #729fcf
xterm*color13: #ad7fa8
xterm*color14: #00f5e9
xterm*color15: #eeeeec


! D M E N U ==============================================================

dmenu.font:		Monospace:size=12
dmenu.foreground:	#FF5787
dmenu.background:	#FFFFFF
dmenu.selforeground:	#151515
dmenu.selbackground:	#ee3b3b


! Y E A H C O N S O L E ==================================================

yeahconsole*term: xterm
yeahconsole*consoleHeight: 14
yeahconsole*toggleKey: none+F12
yeahconsole*aniDelay: 0
yeahconsole*stepSize: 14
yeahconsole*screenWidth: 1280
yeahconsole*borderWidth: 0
yeahconsole*borderless: true
yeahconsole*dynamicColors:      true
yeahconsole*faceName:           xft:Pragmata:pixelsize=8.5
yeahconsole*colorUL: #31658C
!yeahconsole*background: #161616
!yeahconsole*foreground: #999993
yeahconsole*cursorColor: #ff8939
yeahconsole*borderColor: #161616
yeahconsole*cursorBlink: true
yeahconsole*internalBorder: 3
yeahconsole*externalBorder: 3
yeahconsole*utf8: 2
yeahconsole*transparent: true
yeahconsole*shading: 4
yeahcolsole*depth: 32


! X I M ==============================================================
*.international: True
*.inputMethod: ibus
!*.imLocale: zh_CN.UTF-8
! *.preeditType: your_input_style


! Xcursor ==============================================================
! man Xcursor
!  Available themes reside in /usr/share/icons and local themes can be installed to ~/.icons
! Xcursor*theme: redglass
Xcursor*theme: Buuf-cursor
! Xcursor*size:  20


! U R X V T ==============================================================

! for real transparency:
! A "real" transparency, using the composite manager currently running
! (xcompmgr, dcompmgr, compiz...)
!urxvt*depth: 32
!urxvt*background: rgba:1111/1111/1111/dddd

! for fake transparency:
! A "fake" transparency, that copies the wallpaper to the background of the terminal.
! (more exactly, the contents of Xorgs root window)
urxvt*transparent: true
! URxvt.shading: 0 to 99 darkens, 101 to 200 lightens
urxvt*shading: 60
! NOTE: comment URxvt.tintColor and URxvt.inheritPixmap when fake transparency.
!URxvt.tintColor: #000000
!URxvt.inheritPixmap: False

URxvt.fading: 30%

URxvt.termName: rxvt-256color
URxvt.imLocale: en_US.UTF-8

! scrollbar
URxvt.scrollBar: False
! rxvt, plain, next, xterm
URxvt.scrollstyle: plain

URxvt.saveLines: 5000
URxvt.perl-lib:        /usr/lib/urxvt/perl
URxvt.perl-ext-common: default,matcher
! URL Alt-U: Enter selection mode. j/k:select URL. Return:Open selected URL. o: open selected URL
! without quitting selection mode. y:Yank selected URL and quit select mode. Esc: Cancel URL select
! mode.
!URxvt.perl-ext:      default,url-select
!URxvt.keysym.M-u:    perl:url-select:select_next
URxvt.underlineURLs: true
URxvt.urlLauncher: luakit

URxvt.matcher.button: 1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt.geometry: 90x50

!URxvt*font:                 xft:Monaco for Powerline:regular:size=10
!URxvt*imFont:               xft:Monaco for Powerline:regular:size=10
!URxvt*boldFont:             xft:Monaco for Powerline:bold:size=10
!URxvt*italicFont:           xft:Monaco for Powerline:italic:size=10
!URxvt*boldItalicFont:       xft:Monaco for Powerline:bold:italic:size=10

URxvt.imFont:         xft:DejaVu Sans Mono for Powerline:regular:pixelsize=14.5
URxvt.font:           xft:DejaVu Sans Mono for Powerline:regular:pixelsize=14.5
URxvt.boldFont:       xft:DejaVu Sans Mono for Powerline:bold:pixelsize=14.5
URxvt.italicFont:     xft:DejaVu Sans Mono for Powerline:italic:pixelsize=14.5
URxvt.bolditalicFont: xft:DejaVu Sans Mono for Powerline:bold:italic:pixelsize=14.5

! bell
URxvt*urgentOnBell:     true
! true will lead weechat flash when youre highlighted
URxvt*visualBell:       false
URxvt*mapAlert:         True

URxvt*dynamicColors: on
!URxvt*background: #202428
!URxvt*foreground: #FFFFFF
! cursor
URxvt*cursorColor:  #AFFF00
URxvt*cursorColor2: #FF5F00
URxvt*cursorBlink:  true
URxvt*cursorUnderline: false
! for in Awesome with hide mouse when idle on urxvt.
URxvt*pointerBlank: true
! border
URxvt*borderWidth: 0
URxvt*borderColor: #151515
URxvt*borderless: true
URxvt*internalBorder: 0
URxvt*externalBorder: 0

URxvt*colorBD: #ff5f00
URxvt*colorIT: #afaf00
URxvt*colorUL: #60a2d1
URxvt*underlineColor: #484848
URxvt*highlightColor: #afff00
URxvt*highlightTextColor: #151515

! C O L O R S E T S ====================================================

!! darkgreen colorsets

!color0       (black)            = Black
!color1       (red)              = Red3
!color2       (green)            = Green3
!color3       (yellow)           = Yellow3
!color4       (blue)             = Blue3
!color5       (magenta)          = Magenta3
!color6       (cyan)             = Cyan3
!color7       (white)            = AntiqueWhite
!color8       (bright black)     = Grey25
!color9       (bright red)       = Red
!color10      (bright green)     = Green
!color11      (bright yellow)    = Yellow
!color12      (bright blue)      = Blue
!color13      (bright magenta)   = Magenta
!color14      (bright cyan)      = Cyan
!color15      (bright white)     = White
!foreground                      = Black
!background                      = Whit

! foreground, background, cursorColor, cursorColor2, colorBD, colorUL as a number 0-15
!as a convenient shorthand to reference the colour name of color0-color15.

! gray colorscheme for weechat IRC. {{{
*foreground: #D2D6D1
*background: #202428

!black
*color0:     #424242
!bright black
*color8:     #0E0E0E
!red
*color1:     #A76B67
!bright red
*color9:     #BF3835
!green
*color2:    #486830
!bright green
*color10:     #A5D65B
!yellow
*color3:    #C7BB8F
!bright yellow
*color11:     #C5B131
!blue
*color4:    #588490
!bright blue
*color12:     #3590A7
!magenta
*color5:    #9D89C8
!bright magenta
*color13:     #8455C3
!cyan
*color6:    #5FA6A8
!bright cyan
*color14:     #5BC7CA
!white
*color7:    #C1C1C1
!bright white
*color15:     #D6DADA

*cursorColor: #8EFFFF
*cursorColor2: #FF5B5B
*colorBD:    #FF2929
*colorUL:    #EAA200
! }}}
