snippet date "current date"
`!v strftime("%d %b %Y")`
endsnippet

snippet date.full "full date time"
`!v strftime("%Y-%m-%dT%H:%M:%S")`
endsnippet

snippet date.day "date time format of a day"
`!v strftime("%Y-%m-%d")`
endsnippet

snippet date.time "date time format Hour:Minutes:S"
`!v strftime("%H:%M:%S")`
endsnippet
