/*
    Author: stardiviner
    [ numbchild AT gmail DOT com ] 
*/

/* FONT */

* { 
	font-size : 11px ! important; 
}

SMALL, SUB, SUP {
	font-size : 8px ! important;
}

BIG {
	font-size : 13px ! important;
}

H1, H1 A {
	font-size : 19px ! important;
}

H2, H2 A {
	font-size : 17px ! important;
}

H3, H3 A {
	font-size : 16px ! important;
}

H4, H4 A {
	font-size : 15px ! important;
}

H5, H5 A {
	font-size : 13px ! important;
}


/* General */

* {
	background : #E7DABB ! important;
	color : #5A5542 ! important;
	/* font-family : sans-serif; */
	font-family : "Comic Sans MS"; Monospace; Monaco;
}

body {
	color: #5A5542;
    background: #E7DABB;
	background-image : none ! important;
	margin: 0px 100px 0px 100px
	font-family : "Comic Sans MS"; Monospace; Monaco;
	font-size: 9pt;
}

table, td {
	border-color : #4F4D4D! important;
	border-style:solid;
	border-width:1px;
}



/* IMAGE */

img {
	padding:1px;
	border:1px solid #4F4D4D;
}


/* LINKS */

a {
	text-decoration: none;
	color: #CC0000;
	border-color: white;
}
a:visited {
	color: #B71B1B;
	border-color: #B71B1B;
    font-style: italic;
}
a:hover, a:focus {
	border-width: 2px;
	border-bottom-style: solid;
    border-color: #CC0000;
    font-size: large;
}

/* CODE */

/* Note: "font" is for perlmonks.org
 * You may want to remove it if you don't frequent that site
 */

blockquote,
code,
div.code, div.codeblock, div.embed-code-dl,
kbd,
pre.bbcodeblock, pre.code,
td.code,
textarea,
tt.codetext,

{
    font-family: Monospace ! important ;
    color:#79B753 ! important ;
    background:#1f1f1f ! important ;
}

/* OTHERS */

div.post {
    border-color : #4f4d4d ! important;
    border-style:solid;
    border-width:1px;
}

.tborder {
	border: 1px solid #4f4d4d ! important;
}

/* prettify.css */
.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun{color:#660}.pln{color:#000}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec{color:#606}pre.prettyprint{padding:2px;border:1px solid #888}@media print{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun{color:#440}.pln{color:#000}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}
