snippet coffeescript "CoffeeScript browser compiler script"
<script src="http://jashkenas.github.com/coffee-script/extras/coffee-script.js" type="text/javascript" charset="utf-8"></script>
<script type="text/coffeescript">
${1:CoffeeScript}
</script>
endsnippet
