# rss2email {{{2
:0
* ^User-Agent: rss2email
{
    :0
    * ^X-RSS-Feed: http://feeds.feedburner.com/allthingsrss/hJBr
    ORG-LIST-END-MARKER
    RSS/rss2email/

    :0
    * ^X-RSS-Feed: http://solidot.org.feedsportal.com/c/33236/f/556826/index.rss
    ORG-LIST-END-MARKER
    RSS/Solidot/

}
# }}}

# vim:foldmethod=marker:ft=procmail
