snippet NOTE
	~~ NOTE ~~ :
snippet NOTICE
	~~ NOTICE ~~ :
snippet link [[www.google.com |desc]]
	[[${1} |${2}]]
snippet link [www.google Google]
	[${1} ${2}]
snippet link [[www.google.com][desc]]
	[[${1}][${2}]]
snippet img
	[[${1:/path/to/image} |desc]]
