# Python Object-Oriented Programming (OOP)

snippet class "class definition" !b
class ${1:ClassName}(${2:#object}):
    """${3:Docstring for class $1 }"""

    def __init__(self${4}):
        """${5:Initial: @what }"""
    $0
endsnippet
