# shebang header env for python 2/3
snippet #! "shebang env for python/3" !b
#!/usr/bin/env python3
# encoding: utf-8


$0
endsnippet

snippet decorator "@decorator" !b
@${1:decorator}${2:(${3:arguments})}
${4:@${5:second decorator}${6:(${7:arguments})}}
def ${8:function}(${9:arguments}):
    $0
endsnippet

snippet ifmain "if __name__ == '__main__': " !b
if __name__ == "__main__":
    ${1:execute something}
endsnippet

snippet p "print() function shortcut"
print(${1})$0
endsnippet
