[editor]
EditXStore = ctrl-insert
EditXPaste = shift-insert
EditXCut = shift-delete

EditDeleteLine = ctrl-y
EditDeleteToLineEnd = ctrl-k
EditDeleteToLineBegin =

EditLeft = left
EditRight = right
EditUp = up
EditDown = down
EditEnter = enter
EditReturn = shift-enter
EditBackSpace = backspace
EditDelete = delete
EditPageUp = pgup
EditPageDown = pgdn
EditWordLeft = ctrl-left
EditWordRight = ctrl-right
EditHome = home
EditEnd = end
EditTab = tab
EditUndo = ctrl-u
EditBeginningOfText = ctrl-home; alt-lt
EditEndOfText = ctrl-end; alt-gt
EditScrollUp = ctrl-up
EditScrollDown = ctrl-down
EditBeginPage = ctrl-pgup
EditEndPage = ctrl-pgdn
EditDeleteWordLeft = alt-backspace
EditDeleteWordRight = alt-d
EditParagraphUp =
EditParagraphDown =
EditSave = f2
EditLoad =
EditNew = ctrl-n
EditSaveas = f12
EditMark = f3
EditCopy = f5
EditMove = f6
EditRemove = f8
EditMarkAll =
EditUnmark =
EditFind = f7

EditShiftBlockLeft =
EditShiftBlockRight =

EditPageUpHighlight = shift-pgup
EditPageDownHighlight = shift-pgdn
EditLeftHighlight = shift-left
EditRightHighlight = shift-right
EditWordLeftHighlight = ctrl-shift-left
EditWordRightHighlight = ctrl-shift-right
EditUpHighlight = shift-up
EditDownHighlight = shift-down
EditHomeHighlight = shift-home
EditEndHighlight = shift-end
EditBeginningOfTextHighlight = ctrl-shift-home
EditEndOfTextHighlight  = ctrl-shift-end
EditBeginPageHighlight  = ctrl-shift-pgup
EditEndPageHighlight = ctrl-shift-pgdn
EditScrollUpHighlight = ctrl-shift-up
EditScrollDownHighlight = ctrl-shift-down
EditParagraphUpHighlight =
EditParagraphDownHighlight =

EditPageUpAltHighlight = alt-pgup
EditPageDownAltHighlight = alt-pgdn
EditLeftAltHighlight = alt-left
EditRightAltHighlight = alt-right
EditWordLeftAltHighlight = ctrl-alt-left
EditWordRightAltHighlight = ctrl-alt-right
EditUpAltHighlight = alt-up
EditDownAltHighlight = alt-down
EditHomeAltHighlight = alt-home
EditEndAltHighlight = alt-end
EditBeginningOfTextAltHighlight = ctrl-alt-home
EditEndOfTextHighlight  = ctrl-alt-end
EditBeginPageHighlight  = ctrl-alt-pgup
EditEndPageAltHighlight = ctrl-alt-pgdn
EditScrollUpAltHighlight =
EditScrollDownAltHighlight =
EditParagraphUpAltHighlight =
EditParagraphDownAltHighlight =

EditSaveBlock = ctrl-f
EditColumnMark = f13
EditFindAgain = f17
EditReplace = f4
EditReplaceAgain = f14
EditCompleteWord = alt-tab
EditDebugStart =
EditDebugStop =
EditDebugToggleBreak =
EditDebugClear =
EditDebugNext =
EditDebugStep =
EditDebugBackTrace =
EditDebugContinue =
EditDebugEnterCommand =
EditDebugUntilCurser =
EditInsertFile = f15
EditQuit = esc; ctrl-q; f10
EditToggleInsert = insert
EditHelp = f1
EditDate =
EditRefresh = ctrl-l
EditGoto = alt-l
EditManPage =
EditSort = alt-t
EditMail =
EditCancel =
EditComplete =

EditParagraphFormat = alt-p
EditUtil =
EditTypeLoadPython =
EditFindFile = slash
EditCtags =
EditMatchBracket = alt-b
EditTerminal =
EditTerminalApp =
EditExtCmd = alt-u
EditUserMenu = f11
EditSaveDesktop =
EditNewWindow =
EditCycle =
EditMenu = f9
EditSaveAndQuit =
EditRunAnother =
EditCheckSaveAndQuit =
EditMaximize =
EditToggleBookmark = alt-k
EditFlushBookmarks = alt-o
EditNextBookmark = alt-j
EditPrevBookmark = alt-i

EditSelectionHistory =
EditShell = ctrl-o
EditInsertLiteral = ctrl-q

EditBeginRecordMacro =
EditEndRecordMacro =
EditBeginOrEndMacro = ctrl-r
EditExecuteMacro = ctrl-a
EditDeleteMacro =

EditToggleLineState = alt-n
EditToggleTabTWS = alt-underline
EditToggleSyntax = ctrl-s

EditFindDefinition = alt-enter
EditLoadPrevFile = alt-minus
EditLoadNextFile = alt-plus

SelectCodepage = alt-e

[viewer]
ViewHelp = f1
ViewToggleWrapMode = f2
ViewQuit = esc; ctrl-q; f10
ViewToggleHexMode = f4
ViewGoto = enter; f5
ViewSearch = slash
ViewToggleMagicMode = 
ViewToggleNroffMode = 
ViewContinueSearch = n
ViewMoveToBol = ctrl-a
ViewMoveToEol = ctrl-e
ViewMoveLeft = h; left
ViewMoveRight = l; right
ViewMoveUp = k; up
ViewMoveDown = j; down
ViewMovePgDn = ctrl-f; space; pgdn
ViewMovePgUp = ctrl-b; shift-space; pgup
ViewMoveHalfPgDn = ctrl-f; space; pgdn
ViewMoveHalfPgUp = ctrl-b; shift-space; pgup
ViewGotoBookmark = M
ViewNewBookmark = enter
ViewNextFile = ctrl-n
ViewPrevFile = ctrl-p
SelectCodepage = alt-e
ShowCommandLine = ctrl-o
ViewToggleRuler = alt-r

[viewer:hex]
ViewHelp = f1
ViewToggleHexEditMode = 
ViewQuit = q; esc; ctrl-q
ViewToggleHexMode = 
ViewGoto = enter; f5
ViewHexEditSave = f6
ViewSearch = slash
ViewToggleMagicMode = 
ViewToggleNroffMode = 
ViewToggleHexNavMode = 
ViewMoveToBol = 
ViewMoveToEol = 
ViewMoveLeft = h; left
ViewMoveRight = l; right
ViewMoveUp = k; up
ViewMoveDown = j; down

[main]
CmdHelp = f1
CmdUserMenu = f2
CmdView = f3
CmdViewFile = enter; f5
CmdEdit = f4
CmdCopy = f5
CmdRename = f6
CmdMkdir = f7
CmdDelete = f8
CmdMenu = f9
CmdQuit = f10; ctrl-q; esc; shift-q
CmdMenuLastSelected = 
CmdQuietQuit = 
CmdFind = alt-question
CmdQuickCd = alt-c
CmdQuickChdir = ctrl-backslash
CmdReread = ctrl-r; ctrl-l
CmdSingleDirsize = ctrl-space
CmdSuspend = ctrl-z
CmdSwapPanel = ctrl-u
CmdHistory = alt-h
CmdToggleListing = alt-t
CmdToggleShowHidden = alt-dot
ShowCommandLine = ctrl-o
CmdCopyCurrentPathname = alt-a
CmdCopyOtherPathname = alt-shift-a
CmdFilteredView = alt-exclamation
CmdSelect = kpplus
CmdUnselect = kpminus
CmdReverseSelection = kpasterisk
ExtMap1 = ctrl-x

[main:xmap]
CmdChmod = c
CmdChown = o
CmdCompareDirs = d
CmdEditSymlink = ctrl-s
CmdLink = l
CmdSymlink = s
CmdInfo = i
CmdQuickView = q
CmdExternalPanelize = exclamation
CmdReselectVfs = a
CmdJobs = j
CmdCopyCurrentPathname = p
CmdCopyOtherPathname = ctrl-p
CmdCopyCurrentTagged = t
CmdCopyOtherTagged = ctrl-t

[panel]
PanelStartSearch = slash
PanelMarkFile = m
PanelMoveDown = j
PanelMoveUp = k
PanelMoveLeft = h
PanelMoveRight = l
PanelPrevPage = ctrl-f
PanelNextPage = ctrl-b
PanelDoEnter = enter
PanelChdirOtherPanel =
PanelChdirToReadlink =
PanelViewSimple = enter; f5
PanelEditNew =
PanelCopyLocal = c
PanelRenameLocal = r
PanelDeleteLocal = d
PanelReverseSelection = kpasterisk
PanelSelect = kpminus
PanelUnselect = kpplus
PanelCtrlNextPage = ctrl-f
PanelCtrlPrevPage = ctrl-b
PanelDirectoryHistoryList =
PanelDirectoryHistoryNext =
PanelDirectoryHistoryPrev =
PanelGotoTopFile = g
PanelGotoBottomFile = shift-g
PanelGotoMiddleFile =
PanelSyncOtherPanel =
PanelSetPanelEncoding = alt-e
PanelMoveHome =
PanelMoveEnd =
PanelSelectSortOrder=
PanelToggleSortOrderPrev=
PanelToggleSortOrderNext=
PanelReverseSort=
PanelSortOrderByName=
PanelSortOrderByExt=
PanelSortOrderBySize=
PanelSortOrderByMTime=

[input]
InputBol = ctrl-a
InputEol = ctrl-e
InputMoveLeft = h
InputWordLeft =
InputBackwardChar =
InputBackwardWord =
InputMoveRight = l
InputWordRight =
InputForwardChar =
InputForwardWord =
InputBackwardDelete = backspace
InputDeleteChar = backspace
InputKillWord =
InputBackwardKillWord =
InputSetMark =
InputKillRegion =
InputXStore =
InputXPaste = shift-insert
InputYank =
InputKillLine =
InputHistoryPrev =
InputHistoryNext =
InputHistoryShow =
InputComplete = tab
InputClearLine = ctrl-l

[tree]
TreeHelp = f1
TreeForget = f3
TreeToggleNav = f4
TreeCopy = f5
TreeMove = f6
TreeMoveUp = up; ctrl-p; k
TreeMoveDown = down; ctrl-n; j
TreeMoveLeft = left; l
TreeMoveRight = right; h
TreeMoveHome = 
TreeMoveEnd = 
TreeMovePgUp = pgup; alt-v
TreeMovePgDn = pgdn; ctrl-v
TreeOpen = enter
TreeRescan = ctrl-r; shift-r
TreeStartSearch = ctrl-s
TreeRemove = delete

[help]
HelpHelp = f1
HelpIndex = f2; c
HelpBack = f3; left; l
HelpQuit = esc; f10; ctrl-q
HelpMoveUp = up; k
HelpMoveDown = down; j
HelpSelectLink = right; enter
HelpNextLink = tab
HelpPrevLink = shift-tab
HelpNextNode = n
HelpPrevNode = p
