###########################################################################
#                            TEXTMATE SNIPPETS                            #
###########################################################################

# common small snippets.
snippet pr "print()" b
print(${1})$0
endsnippet

# vim:ft=snippets:
