###########################################################################
#                            TextMate Snippets                            #
###########################################################################

############
# Doctypes #
############
snippet doct5 "DocType HTML5" b
<!DOCTYPE HTML>
${1}
endsnippet

snippet html "<html>" b
<html>
    ${1}
</html>
endsnippet

# vim:ft=snippets:
