
###########################################################################
#                            TextMate Snippets                            #
###########################################################################

snippet select "select ... (done)"
select ${1:#var} in ${2:"item1" "item2" "..."}; do
	${0:#statements}
done
endsnippet

# vim:ft=snippets:
